<div id="box">
<h1 id="top">Witaj na moim blogu</h1>
<div id="newses">
<div class="news">
<h2 id="naglowek">Edycja postu</h2>

<%= render 'form' %>
</div>
</div>

<div id="nav">
<p id="new"><%= link_to 'Pokaz', @post %>
<%= link_to 'Powrot', posts_path %></p>
</div>
</div>